header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #603985;
    border-bottom: 10px solid #000000;
    padding: 10px 20px;
}

nav {
    text-align: right;
}


a{
    display: inline-flex;
    align-items: center;
    color: #FFF;
    font-size: 1.25rem;
    font-family: "Palanquin Dark", sans-serif;
    font-weight: 400;
    text-decoration: none;
    margin-right: 1.875rem;
    transition: 200ms transform ease-in-out;
}

a:hover{
    transform: scale(1.1);
    transition: 300ms transform cubic-bezier(0.42, 0, 0.47, 2.74);

}

a::before {
    content: "";
    background-color: #00E5FF;
    width: 10px;
    height: 10px;
    margin-top: 3.5px;
    margin-right: 10px;
    border-radius: 10px;
}

img{
    transition: 200ms transform ease-in-out;
}

img:hover{
    transform: scale(1.1);
    transition: 300ms transform cubic-bezier(0.42, 0, 0.47, 2.74);
}

#button {
    display: inline-block;
    background-color: #00E5FF;
    padding: 18px 20px;
    padding-right: 22px;
    box-shadow: 5px 5px 0px #000000;
    border-radius: 22px;
    margin-right: 0;
    transition: background-color .5s;
    transition: 200ms transform ease-in-out;
}

#button:hover {
    background-color: #05C2D8;
    transform: scale(1.1);
    transition: 300ms transform cubic-bezier(0.42, 0, 0.47, 2.74);
}

