.box{
    display: inline-block;
    background-color: #603985;
    box-shadow: 10px 10px 0px #CDCDCD;
    text-align: center;
    padding: 42px 44px;
    border-radius: 18px;
    
}

.box .title{
    margin-bottom: 28px;
}

