.main-section{
    background-color: #603985;
    padding-top: 50px;
    padding-bottom: 130px;
    border-bottom: 10px solid #FFF;
}


.main-section .main-title{
    margin-bottom: 60px;
}

.main-section.-cards{
    background-color: #000;
    border-bottom: 10px solid #4C5B84;
}

.main-section.-about{
    background-color: #575559;
    border-bottom: 10px solid #4C5B84;
}