.main-title{
    font-family: "Palanquin Dark", sans-serif;
    font-size: 60px;
    color: #00E5FF;
    text-shadow: 4px 4px 0px #000000;
}

.main-title.-second{
    text-align: center;
    color: #FFF;
    text-shadow: none;
}
