.wrapper-social{
    display: flex;
    align-items: center;
}

.wrapper-social .social-icon{
    text-decoration: none;
    margin-right: 30px;
    transition: 200ms transform ease-in-out;
}

.wrapper-social .social-icon:hover{
    transform: scale(1.1);
    transition: 300ms transform cubic-bezier(0.42, 0, 0.47, 2.74);
    
}