.wrapper-cards{
    display: flex;
    justify-content: space-around;
} 

.wrapper-cards .project-link{
    text-decoration: none;
    transition: 200ms transform ease-in-out;
}

.wrapper-cards .project-link:hover{
    transform: scale(1.1);
    transition: 300ms transform cubic-bezier(0.42, 0, 0.47, 2.74);

}